/**
* @file Contains the admin css for Dragon plugins.
*/

fieldset:not(.fieldgroup) {
  overflow:hidden;
    padding: 0px !important;
}

fieldset:not(.fieldgroup) > legend {
    background: orange;
    color: #fff;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    float: left;
    clear: both;
    position: relative !important;
    top: 0px !important;
}

.breakpoint-id i.fa.fa-desktop {
    font-size: 50px;
    display: inline;
    float: left;
    margin-right: 15px;
}

.breakpoint-id .form-item {
    float: left;
    width: 250px;
}

.breakpoint .settings {
    float: left;
    width: 100%;
}

.breakpoint .form-type-textarea {
    float: left;
    width: 100%;
    clear: both;
    margin: 10px 0px;
}

.breakpoint {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 20px;
}

.settings .form-item {
    float: left;
    margin: 0px 10px;
}

.preview-wrapper {
    width: 100%;
    height: 200px;
    float: left;
    background: #444;
    margin: 10px 0px;
    overflow-x: scroll;
    position: relative;
}

.preview {
    display: block;
    height: 200px;
}
.preview .hRule {
  position: absolute !important;
}
.preview .outer_gutter {
    height: 200px;
    background: red;
    display: block;
    float: left;
}

.col {
    float: left;
    display: block;
    height: 200px;
    background: #fff;
}

.inner_gutter {
    height: 200px;
    display: block;
    float: left;
    background: #ccc;
}

.preview .content {
    float: left;
    display: block;
    height: 200px;
    min-width:15px;
}
